{{define "admin/category/edit.html"}}
{{template "admin/layout/header.html"}}
<body>
<!--面包屑导航 开始-->
<div class="crumb_warp">
    <i class="fa fa-home"></i> <a href="{{"/admin/info"|url}}">首页</a> &raquo; <a href="{{"/admin/category/index"|url}}">所有分类</a>  &raquo;  修改分类
</div>
<!--面包屑导航 结束-->
<div class="result_wrap">
<div class="result_title">
    <h3>添加分类</h3>
{{if .errorMsg}}
    <div class="mark">
        <p>{{.errorMsg}}</p>
    </div>
{{end}}
</div>
</div>
<div class="result_wrap">
        <form action="{{"/admin/category/edit"|url}}/{{.category.ID}}" method="post">
<table class="add_tab">
<tbody>
<tr>
    <th><i class="require">*</i>分类名称：</th>
    <td>
        <input type="text" name="name" value="{{.category.Name}}">
        <span><i class="fa fa-exclamation-circle yellow"></i>分类名称必须填写</span>
    </td>
</tr>
<tr>
    <th width="120"><i class="require">*</i>父级分类：</th>
<td>
<select name="pid">
    <option value="0">==顶级分类==</option>
{{range .categorys}}
    <option value="{{.ID}}" {{if eq .ID $.category.Pid}}selected{{end}}>{{.Name}}</option>
{{end}}
</select>
</td>
</tr>
<tr>
    <th>SEO-标题：</th>
    <td>
        <input type="text" class="lg" name="seo_title" value="{{.category.SeoTitle}}">
    </td>
</tr>
<tr>
    <th>SEO-关键词：</th>
    <td>
        <textarea name="seo_key">{{.category.SeoKey}}</textarea>
    </td>
</tr>
<tr>
    <th>SEO-描述：</th>
    <td>
        <textarea name="seo_desc">{{.category.SeoDesc}}</textarea>
    </td>
</tr>
<tr>
    <th>排序：</th>
    <td>
        <input type="text" class="sm" name="sort" value="{{.category.Sort}}">
    </td>
</tr>
<tr>
    <th></th>
    <td>
        <input type="submit" value="提交">
        <input type="button" class="back" onclick="history.go(-1)" value="返回">
    </td>
</tr>
</tbody>
</table>
</form>
</div>
</body>
{{template "admin/layout/footer.html"}}
{{end}}