{{define "admin/layout/header.html"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <link rel="stylesheet" href="/static/admin/css/ch-ui.admin.css">
        <link rel="stylesheet" href="/static/admin/font/css/font-awesome.min.css">
        <script type="text/javascript" src="/static/admin/js/jquery.js"></script>
        <script type="text/javascript" src="/static/admin/js/ch-ui.admin.js"></script>
        <script type="text/javascript" src="/static/common/layer/layer.js"></script>
</head>
{{end}}