{{define "admin/link/add.html"}}
{{template "admin/layout/header.html"}}
<!--面包屑导航 开始-->
<div class="crumb_warp">
    <i class="fa fa-home"></i> <a href="{{"/admin/info"|url}}">首页</a> &raquo; 友情链接管理
</div>
<!--面包屑导航 结束-->

<!--结果集标题与导航组件 开始-->
<div class="result_wrap">
<div class="result_title">
    <h3>添加友情链接</h3>
{{if .errorMsg}}
    <div class="mark">
        <p>{{.errorMsg}}</p>
    </div>
{{end}}
</div>
</div>
<!--结果集标题与导航组件 结束-->

<div class="result_wrap">
        <form action="{{"/admin/links/add"|url}}" method="post">
    <table class="add_tab">
        <tbody>
        <tr>
            <th><i class="require">*</i>链接名称：</th>
            <td>
                <input type="text" name="name">
                <span><i class="fa fa-exclamation-circle yellow"></i>链接名称必须填写</span>
            </td>
        </tr>
        <tr>
            <th> Url：</th>
            <td>
                <input type="text" class="lg" name="url" value="http://">
            </td>
        </tr>
        <tr>
            <th>链接标题：</th>
            <td>
                <input type="text" class="lg" name="title">
            </td>
        </tr>
        <tr>
            <th>排序：</th>
            <td>
                <input type="text" class="sm" name="sort" value="0">
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="submit" value="提交">
                <input type="button" class="back" onclick="history.go(-1)" value="返回">
            </td>
        </tr>
        </tbody>
    </table>
</form>
</div>

{{template "admin/layout/footer.html"}}
{{end}}