{{define "admin/article/index.html"}}
{{template "admin/layout/header.html"}}
<script type="text/javascript" src="/static/admin/js/myJs.js"></script>
<!--面包屑导航 开始-->
<div class="crumb_warp">
    <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
    <i class="fa fa-home"></i> <a href="{{"/admin/info"|url}}">首页</a> &raquo; 文章管理
</div>
<!--面包屑导航 结束-->

<!--搜索结果页面 列表 开始-->
<form action="#" method="post">
<div class="result_wrap">
    <!--快捷导航 开始-->
    <div class="result_title">
        <h3>文章列表</h3>
    </div>
<div class="result_content">
<div class="short_wrap">
        <a href="{{"/admin/article/add"|url}}"><i class="fa fa-plus"></i>添加文章</a>
        <a href="{{"/admin/article/index"|url}}"><i class="fa fa-recycle"></i>全部文章</a>
</div>
</div>
    <!--快捷导航 结束-->
</div>

<div class="result_wrap">
<div class="result_content">
<table class="list_tab">
    <tr>
        <th class="tc">ID</th>
        <th>标题</th>
        <th width="80px">封面图</th>
        <th width="80px">推荐</th>
        <th>点击</th>
        <th>发布时间</th>
        <th>修改时间</th>
        <th>操作</th>
    </tr>
   {{range .articles}}
<tr>
<td class="tc">{{.ID}}</td>
<td>
<a href="#">{{.Title}}</a>
</td>
<td style="vertical-align:top;text-align:center">
        <img src="{{.Cover}}" style="width:75px;height:50px;margin-top:8px;" pre="yes"/>
</td>
<td><a href="javascript:;" onclick="recom({{.ID}},{{.IsRecom}})">{{if .IsRecom}}是{{else}}否{{end}}</a></td>
<td>{{.Hits}}</td>
<td>{{dateFormat .CreatedAt "2006-01-02 15:04"}}</td>
<td>{{dateFormat .UpdatedAt "2006-01-02 15:04"}}</td>
<td>
        <a href="{{"/admin/article/edit"|url}}/{{.ID}}">修改</a>
        <a href="javascript:;" onclick="del({{.ID}})">删除</a>
</td>
</tr>
{{end}}
</table>

<div class="page_list">
{{.pages}}
</div>
</div>
</div>
</form>
<!--搜索结果页面 列表 结束-->

<style>
    .result_content ul li span {
        font-size: 15px;
        padding: 6px 12px;
    }
</style>

<script>
preview();
function del(id) {
layer.confirm('确定要删除这个文章吗？', {
    btn: ['确定','取消'] //按钮
}, function(){
$.post("{{"/admin/article/del"|url}}/"+id,{},function (data) {
if(data.status==1){
    layer.msg(data.info, {icon: 6});
    setInterval(function(){window.location.reload();},2000);
}else{
    layer.msg(data.info, {icon: 5});
}
});
})
}
function recom(id,recom){
    var str = recom ? '确定取消推荐这篇文章吗？' : '确定要推荐这篇文章吗？';
layer.confirm(str, {
    btn: ['确定','取消'] //按钮
}, function(){
$.post("{{"/admin/article/set_recom"|url}}",{'id':id,'recom':recom},function (data) {
if(data.status==1){
    layer.msg(data.info, {icon: 6});
}else{
    layer.msg(data.info, {icon: 6});
}
    setInterval(function(){window.location.reload();},2000);
});
})
}
</script>
{{template "admin/layout/footer.html"}}
{{end}}